{% if user.is_authenticated %}
    {% if user.userpreferences_set.first.units == 'metric' %}
        <select class="form-select"  hx-get="units" hx-target="#card-temp, #units" name="units" hx-trigger="change">
            <option selected value="metric" style="font-weight: bold;">Metric (°C, km)</option>
            <option value="us">US (°F, miles)</option>
            <option value="uk">UK (°C, miles)</option>
        </select>
    {% elif user.userpreferences_set.first.units == 'us' %}
        <select class="form-select" hx-get="units" hx-target="#card-temp, #units" name="units" hx-trigger="change">
            <option selected value="us" style="font-weight: bold;">US (°F, miles)</option>
            <option value="metric">Metric (°C, km)</option>
            <option value="uk">UK (°C, miles)</option>
        </select>
    {% elif user.userpreferences_set.first.units == 'uk' %}
        <select class="form-select" hx-get="units" hx-target="#card-temp, #units" name="units" hx-trigger="change">
            <option selected value="uk" style="font-weight: bold;">UK (°C, miles)</option>
            <option value="us">US (°F, miles)</option>
            <option value="metric">Metric (°C, km)</option>
        </select>
    {% endif %}
{% else %}
    {% if request.session.units == 'metric' %}
        <select class="form-select"  hx-get="units" hx-target="#card-temp, #units" name="units" hx-trigger="change">
            <option selected value="metric" style="font-weight: bold;">Metric (°C, km)</option>
            <option value="us">US (°F, miles)</option>
            <option value="uk">UK (°C, miles)</option>
        </select>
    {% elif request.session.units == 'us' %}
        <select class="form-select" hx-get="units" hx-target="#card-temp, #units" name="units" hx-trigger="change">
            <option selected value="us" style="font-weight: bold;">US (°F, miles)</option>
            <option value="metric">Metric (°C, km)</option>
            <option value="uk">UK (°C, miles)</option>
        </select>
    {% elif request.session.units == 'uk' %}
        <select class="form-select" hx-get="units" hx-target="#card-temp, #units" name="units" hx-trigger="change">
            <option selected value="uk" style="font-weight: bold;">UK (°C, miles)</option>
            <option value="us">US (°F, miles)</option>
            <option value="metric">Metric (°C, km)</option>
        </select>
    {% else %}
        <select class="form-select"  hx-get="units" hx-target="#card-temp, #units" name="units" hx-trigger="change">
            <option selected value="metric" style="font-weight: bold;">Metric (°C, km)</option>
            <option value="us">US (°F, miles)</option>
            <option value="uk">UK (°C, miles)</option>
        </select>
    {% endif %}
{% endif %}
<label for="units">Units</label>
            
{% for key, val in saved_locs.items %}
    <h5 class="card-subtitle mb-2 text-muted ms-2" id="{{val.pretty_loc}}_fronttemp" hx-swap-oob="true">{{ val.temp }}{{ units.temp_unit }}</h5>
    <table class="table table-sm table-hover" id="{{val.pretty_loc}}_table" hx-swap-oob="true">
        <tr>
            <th scope="row">Data From</th>
            <td class="text-end" id="{{val.pretty_loc}}_datetime"><script>
                var new_date = new Date("{{ val.tz_display_dt }}")
                document.querySelector("#{{val.pretty_loc}}_datetime").textContent = new_date.toLocaleString(undefined, {dateStyle: "medium", timeStyle:"short"})
            </script></td>
        </tr>
        <tr>
            <th scope="row">Feels Like</th>
            <td class="text-end">{{val.feelslike}}{{units.temp_unit}}</td>
        </tr>
        <tr>
            <th scope="row">Humidity</th>
            <td class="text-end">{{val.humidity}}%</td>
        </tr>
        <tr>
            <th scope="row">Precipitation Amount</th>
            <td class="text-end">{{val.precip}} {{units.precip_unit}}</td>
        </tr>
        <tr>
            <th scope="row">Snow</th>
            <td class="text-end">{{val.snow}} {{units.snow_unit}}</td>
        </tr>
        <tr>
            <th scope="row">Pressure</th>
            <td class="text-end">{{val.pressure}} {{units.pressure_unit}}</td>
        </tr>
        <tr>
            <th scope="row">Cloud Cover</th>
            <td class="text-end">{{val.cloudcover}}%</td>
        </tr>
        <tr>
            <th scope="row">UV Index</th>
            <td class="text-end">{{val.uvindex}}</td>
        </tr>
        <tr>
            <th scope="row">Sunrise</th>
            <td class="text-end" id="{{val.pretty_loc}}_sunrise"><script>
                var new_date = new Date("{{ val.sunrise }}")
                document.querySelector("#{{val.pretty_loc}}_sunrise").textContent = new_date.toLocaleTimeString(undefined, {timeStyle: "short"})
            </script></td>
        </tr>
        <tr>
            <th scope="row">Sunset</th>
            <td class="text-end" id="{{val.pretty_loc}}_sunset"><script>
                var new_date = new Date("{{ val.sunset }}")
                document.querySelector("#{{val.pretty_loc}}_sunset").textContent = new_date.toLocaleTimeString(undefined, {timeStyle: "short"})
            </script></td>
        </tr>
    </table>
{% endfor %}